@import url('grid-1170.css');
@import url('style.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster|Oswald:400,700');


body,
h1,
h2,
h3,
h4,
p {
    margin:0;
    padding:0;
}

body, h2, h4 {font-family:"Lato", "Helvetica", sans-serif; color:#1b1c1b;}
h1,h3 {font-family: "Lobster", cursive;}

a {text-decoration: none;}

.logo {
    margin:50px 0;
    text-align: center;
}

/****** BOTON MENU RESPONSIVE ******/
.toggle-nav {
    display:none;
}
 
/****** TOP MENU ******/
.menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index: 99;
    }
 
.menu ul {
    display:block;
    margin:0;
    padding:5px 0;
    overflow: hidden;
    text-align: center;
    border-bottom:5px solid #d392dd;
}
 
.menu li {
    display: inline-block;
    list-style:none;
    font-size:17px;
}
 
.menu li a {
    color:#ae66b9;
    -webkit-transition:all linear 0.15s;
    transition:all linear 0.15s;
    text-transform: uppercase;
    font-size: 0.85em;
    margin:0 15px;
    text-decoration:none;
}
 
.menu li a:hover, .menu .current-item a {
    color:#ffffff;
    font-weight: 600;
    background:#d392dd;
    padding:8px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/****** RESPONSIVE MENU ******/

@media screen and (max-width: 540px) {
    .menu {
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:100%;
        position:absolute;
        top:110px;
        left:0px;

        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        background:#383838;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu li a {
        display:block;
        
    }
    
    .menu li a:hover, .menu .current-item a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
 
    .toggle-nav {
        padding:4px 8px;
        margin:8px 15px 8px 0;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:4px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        -webkit-transition:color linear 0.25s;
        transition:color linear 0.25s;
        position: absolute;
        right:0;
        top:50px;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
    
    .toggle-nav.active {
        background:#d1d1d1;
        color:#303030;
        -webkit-transition:background linear 0.25s;
        transition:background linear 0.25s;
    }
    
    .toggle-nav.active:hover {
        color:#303030;
    }
}

/****** INDEX - ENCABEZADO ******/ 

#homeHeader {
    width: 100%;
    height:81vh;
    position: relative;
    background:url(../img/home2.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top:184px;
}

#homeHeader:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -webkit-linear-gradient(top ,rgba(187,155,255,0.25),rgba(255,155,180,0.55));
	background-image: linear-gradient(to bottom ,rgba(187,155,255,0.25),rgba(255,155,180,0.55));
}

.aspect {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.headerInfo {
    margin-top:60vh;
    text-align: center;
    background:rgba(0,0,0,0.75);
    padding:10px 0;
}

.headerInfo p {
    font-family: "Oswald", sans-serif;
    font-size:1.5em;
    letter-spacing: 1px;
    color:#fff;
}

.headerInfo p span {
    font-family: "Lobster";
    color:#FF9BB4;
    font-size:1em;
    margin-left:10px;
}

/****** INDEX - BUSCADOR ******/ 

#buscador {
    background:#fcfcfc url(../img/textura4.jpg);
    min-height: 400px;
    text-align: center;
    padding:150px 0;
}

#buscador h1 {
    font-size:5em;
    color:#393737;
    margin-bottom:80px;
    text-shadow:2px 1px rgba(0,0,0,0.2);
}

#buscador p {
    margin-bottom:80px;
    font-size:1.5em;
    font-family: "Oswald", sans-serif;
    line-height: 55px;
    color:#393737;
    text-shadow:1px 1px 2px rgba(0,0,0,0.15);
}

#buscador .formCont {
    display:inline-block;
    width:100%;
}

#buscador form input[type="search"] {
    padding:20px;
    border-top-left-radius:35px;
    border-bottom-left-radius:35px;
    border:1px solid rgba(174, 102, 185,0.4);
    font-size:1.5em;
    margin-bottom:80px;
    color:#AE66B9;
    width:80%;
}

#buscador form input[type="search"]::-webkit-input-placeholder {
    color:#d392dd;
    opacity: 0.65;
    font-size:0.85em;
}

#buscador form input[type="search"]::-moz-placeholder {
    color:#d392dd;
    opacity: 0.65;
    font-size:0.85em;
}

#buscador form input[type="search"]:-ms-input-placeholder {
    color:#d392dd;
    opacity: 0.65;
    font-size:0.85em;
}

#buscador form input[type="search"]:-moz-placeholder {
    color:#d392dd;
    opacity: 0.65;
    font-size:0.85em;
}

#buscador form input[type="submit"] {
    margin-left:-3px;
    border:none;
    font-size:1.2em;
    padding:20px 30px;
    border-top-right-radius:35px;
    border-bottom-right-radius:35px;
    cursor:pointer;
    background-color:#AE66B9;
    color:#fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    transition: all linear 0.15s;
}

#buscador form input[type="submit"]:hover {
    background-color:#8a5891;
    font-size:1.3em;
}


/****** INDEX - RECETAS POPULARES ******/

.recomendaciones {
    background:#8151A2 url(../img/textura2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding:120px 0;
    color:#ffffff;
}

.recomendaciones h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom:80px;
    font-weight: 300;
    text-transform: uppercase;
    color:#fff;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    padding:10px 0;
    text-shadow:2px 2px 3px rgba(0,0,0,0.25);
}

.recomendaciones .recoItem {
    text-align:center;
    background:#ededed;
    margin-top:-3px;
    padding:20px 20px;
    color:#1c1c1c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:2px solid #fff;
}

.recomendaciones img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:2px solid #fff;
    border-bottom:none;
}

.recomendaciones .recoItem h3 {
    margin-bottom:20px;
}

.recomendaciones .recoItem a {
    margin:20px 0 5px;
    display: inline-block;
    border:1px solid #53b256;
    border-radius:5px;
    background:#67d16a;
    padding:10px 20px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9em;
    text-shadow:2px 1px rgba(0,0,0,0.15);
    transition:all linear 0.1s;
}

.recomendaciones .recoItem a:hover {
    background:#55b758;
    margin:23px 0 0;
    border-top:2px solid rgba(0,0,0,0.2);
}

/******* FOOTER ********/

footer {
    background:#0f1419 url(../img/textura3.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:#fff;
}

footer ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

footer .social, 
footer .copy {
    margin:20px 0;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color:#fff;
    font-size:1.5em;
}

footer .social h4 {
    color:#fff;
    margin-bottom:10px;
}

footer .social ul li {
    margin-right:15px;
}

footer .social ul li a:hover span.icon-facebook {
    color:#3b5998;
    font-size:1.2em;
    transition: all linear 0.15s;
}

footer .social ul li a:hover span.icon-twitter {
    color:#55acee;
    font-size:1.2em;
    transition: all linear 0.15s;
}

footer .social ul li a:hover span.icon-instagram {
    color:#e98550;
    font-size:1.2em;
    transition: all linear 0.15s;
}

footer .copy small {
    display: block;
    margin-bottom:20px;
}

footer .copy ul li {
    margin-right:15px;
}

footer .copy ul li a {
    text-decoration: underline;
    color:#b9b9b9;
    font-size:0.9em;
    transition: all linear 0.15s;
}


footer .copy ul li a:hover {
    color:#82ea79;
}
/************ RECETAS **************/

#headRecetas {
    margin-top:184px;
    text-align: center;
    padding:300px 0;
    background:url('../img/bg-recetas.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    position:relative;
}

#headRecetas .info-headRecetas {
    background:rgba(255,255,255,0.65);
    padding:15px 15px 30px;
    position: absolute;
    bottom:0;
    width:100%;
}

#headRecetas .info-headRecetas h1 {
    margin-bottom:20px;
    font-size:3em;
}

.busquedaRec {
    background-color:white;
    background-image: -webkit-linear-gradient(left, rgba(211, 146, 221,0.2) 50%, transparent 50%),
    -webkit-linear-gradient(rgba(211, 146, 221,0.2) 50%, transparent 50%);
    background-image: linear-gradient(90deg, rgba(211, 146, 221,0.2) 50%, transparent 50%),
    linear-gradient(rgba(211, 146, 221,0.2) 50%, transparent 50%);
    background-size:50px 50px;
    padding-top:100px;
    border-top:10px solid #362039;
}

#filtros {
    border:1px solid #efefef;
    padding:10px 40px;
    border-top-left-radius:35px;
    background-color:rgba(255,255,255,0.85);
}

#filtros h3 {
    font-size:1.5em;
    margin-top:20px;
}

#filtros ul {
    list-style-type: none;
    padding:0;
}

#filtros ul li {
    margin-top:5px;
}

#filtros a{
    color:#f8a359;
    font-weight: 600;
    transition: color linear 0.15s;
}

#filtros a:hover {
    color:#f08221;
}


.recetasResultados .row {
    background:rgba(255,255,255,0.75);
    margin-bottom:15px;
    border:1px solid transparent;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    transition:all linear 0.15s;
}

.recetasResultados .row:hover {
    background:rgba(255,255,255,0.95);
    border:1px solid #eeedef;
}

.recetasResultados .col-4 {
    padding:5px;
    
}

.recetasResultados img {
    width:90%;
    vertical-align:middle;
}

.recetasResultados a {
    color:#f8a359;
    font-family: "Oswald";
    transition:color linear 0.15s;
}

.recetasResultados a:hover {
    color:#f08221;
}

.recetasResultados h2 {
    margin:20px 0;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
}

.recetasResultados h2 a {
    color:#292929;
    transition:color linear 0.15s;
}

.recetasResultados p {
    margin-bottom:20px;
}

.recetasResultados .btn-detalle {
    text-align: center;
    width:180px;
    margin:20px 0;
    display:block;
    border:1px solid #53b256;
    border-radius:5px;
    background:#67d16a;
    padding:10px 20px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9em;
    text-shadow:2px 1px rgba(0,0,0,0.15);
    transition:all linear 0.1s;
}

.recetasResultados .btn-detalle:hover {
    background:#55b758;
    color:#f4f4f4;
}

/************ CONTACTO **************/

#headContacto {
    margin-top:184px;
    text-align: center;
    background: url(../img/bg-contacto.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding:300px 0;
    position: relative;
}

#headContacto .infoContacto {
    position: absolute;
    bottom:0;
    width:100%;
    background: rgba(255,255,255,0.6);
    padding:10px 15px 50px;
}

#headContacto .infoContacto h1 {
    font-size: 3em;
    margin-bottom:20px;
}

#contactoBG {
    padding:80px 10px;
    background:rgba(0,0,0,0.5) url(../img/textura1.jpg);
    border-top:10px solid #f8d192;
}

#formContacto {
    max-width:75%;
    margin:0 auto;
    padding:40px 25px;
    background:#65b286;
    border:3px solid #27ae60;
    border-radius:15px;
}

#formContacto small {
    color:#fff;
    display: inline-block;
    margin-bottom:10px;
    font-size:1em;
    font-weight: 600;
}

#formContacto input,
#formContacto textarea{
    width:100%;
    padding:10px 15px;
    margin:10px 0;
    border:1px solid #27ae60;
    background-color:#f2f2f2;
    color:#171617;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}

#formContacto input[type="text"]::-webkit-input-placeholder,
#formContacto input[type="email"]::-webkit-input-placeholder,
#formContacto textarea::-webkit-input-placeholder{
    color:#7e7c7c;
    font-weight: 400;
    font-size:1.1em;
}

#formContacto input[type="text"]::-moz-placeholder,
#formContacto input[type="email"]::-mozt-placeholder,
#formContacto textarea::-moz-placeholder{
    color:#7e7c7c;
    font-weight: 400;
    font-size:1.1em;
}

#formContacto input[type="text"]:-ms-input-placeholder,
#formContacto input[type="email"]:-ms-input-placeholder,
#formContacto textarea:-ms-input-placeholder{
    color:#7e7c7c;
    font-weight: 400;
    font-size:1.1em;
}

#formContacto input[type="text"]:-moz-placeholder,
#formContacto input[type="email"]:-moz-placeholder,
#formContacto textarea:-moz-placeholder{
    color:#7e7c7c;
    font-weight: 400;
    font-size:1.1em;
}

#formContacto input[type="submit"] {
    width:auto;
    padding: 10px 30px;
    background:#ecf0f1;
    border:1px solid #27ae60;
    color:#27ae60;
    text-transform: uppercase;
    font-weight: 600;
    cursor:pointer;
    box-shadow:3px 3px rgba(0,0,0,0.5);
    transition:all linear 0.15s;
}

#formContacto input[type="submit"]:hover {
    box-shadow:1px 1px rgba(0,0,0,0.5), inset 2px 2px rgba(39, 174, 96,0.55);
    background:#ffffff;
    color:rgb(46, 204, 113);
    font-size:0.85em;
}

/************ DETALLE **************/

.headDetalle {
    margin-top:184px;
    padding:100px 15px;
    background:url(../img/textura5.jpg);
    background-position: center 25%;
    background-size:cover;
    background-attachment: fixed;
    margin-bottom:50px;
}

.headDetalle h1 {
    font-size:5em;
    margin-bottom:30px;
    color:#fff;
    text-shadow:1px 1px rgba(0,0,0,0.25);
}

.headDetalle a {
    color:#ff9a44;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.35);
}


#detalleReceta h2 {
    margin-bottom:20px;
    border-bottom:1px solid #f9d1ff;
    padding-bottom:10px;
    color:#d392dd;
    text-shadow:1px 1px rgba(0,0,0,0.15);
}

#detalleReceta p {
    margin-bottom:20px;
}

#detalleReceta img {
    width:100%;
    margin-bottom:20px;
}

#detalleReceta ul {
    list-style-type: none;
    padding:0;
}

#detalleReceta ol {
    padding-left:15px;
}

#sidebar {
    background:#f5f5f5;
    padding:10px 20px;
    margin-bottom:100px;
}

#sidebar h3 {
    margin-bottom:20px;
}

#sidebar h4 {
    margin:15px 0 5px;
    font-family: "Oswald", sans-serif;
}

#sidebar img {
    width:100%;
}


#sidebar a {
    margin:15px 0;
    display: inline-block;
    border:1px solid #5ed162;
    background:#86e089;
    padding:10px 20px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9em;
    text-shadow:2px 1px rgba(0,0,0,0.15);
    text-align: center;
}

/*********** MEDIAQUERIES  *************/
@media screen and (min-width:1300px) {
    #formContacto {
        width: 950px;
    }
}

@media screen and (max-width:1200px) {
    #detalleReceta {
        padding:0 20px;
    }
}


@media screen and (max-width:1100px) {
    .recomendaciones .recoItem {
        margin-top:-4px;
    }
    .recomendaciones .recoItem a {
        padding:10px;
    }
    .recetasResultados h2 {
        margin:5px 0;
    }

    .recetasResultados p {
        margin-bottom:10px;
    }
    #headRecetas,
    #headContacto{
        padding:250px 0;
    }
}

@media screen and (max-width:1000px) {
    .recomendaciones .col-3 {
        width:50%;
        margin-bottom:20px;
    }
    .recomendaciones img {
        width:100%;
    }
    .busquedaRec .col-3.responsive {
        display:block; 
        width:100%;
    }
    #filtros {
        text-align: center;
        border-top-right-radius:35px;
        margin-bottom:15px;
    }
    .responsive #filtros .col_4 {
        display: inline-block;
        width:30%;
        padding:0;
    }
    .busquedaRec .col-9 {
        width:100%;
        display: inline-block;
    }
    #aside.col-3 {
        width:100%;
    }
    #aside .col_4 {
        width:30%;
        display: inline-block;
        margin-right:15px;
    }
}

@media screen and (max-width:920px) {
    #buscador h1 {
        font-size:4em;
    }
    #buscador p {
        line-height: 45px;
    }
}

@media screen and (max-width:800px) {
    .recetasResultados .col-4,
    .recetasResultados .col-8{
        width:50%;
    }
}

@media screen and (max-width:768px) {
    .headerInfo p span {
        display: block;
    }
    #buscador {
        padding:50px 0;
    }
    #buscador p {
        margin-bottom:30px;
        font-size:1.3em;
        line-height: 30px;
    }
    #buscador h1 {
        font-size:3.5em;
    }
    #buscador form input[type="search"]{
        border-radius:35px;
        margin-bottom:20px;
        padding:10px 15px;
        font-size:1.2em;
    }
    #buscador form input[type="submit"]{
        display: block;
        border-radius:15px;
        margin:0 auto;
        padding:10px 20px;
    }
    #contactoBG {
        padding:40px 20px;
    }
    #formContacto {
        max-width:100%;
    }
    #aside .col_4 {
        width:100%;
    }
}

@media screen and (max-width:480px) {
    .headerInfo {
        margin-top:50vh;
    }
    .headerInfo p {
        font-size:1.2em;
    }
    #buscador h1 {
        font-size:2.5em;
        margin-bottom:30px;
    }
    #buscador p {
        font-size: 1.2em;
    }
    .recoItem h3 {
        font-size:1.8em;
    }
    .recomendaciones h2 {
        font-size:2em;
    }
    .recomendaciones .col-3 {
        width:100%;
    }
    footer .social {
        margin:0;
        padding:20px 0;
    }
    .recetasResultados .col-4,
    .recetasResultados .col-8{
        width:100%;
    }
    
    .recetasResultados img {
        width:100%;
    }
    
}